GROUP 10

NANGOLI SAMUEL : B28338

MUKASA MATTHEW : B29053

kATO SHARIF ACHEN : B28839

KAMOGA AKRAM: B29244

MUKIDI ANDREW : B28345

In [1]:
#import libraries
import pandas as pd

In [2]:
#import dataset excel
Bd =pd.read_excel("Student_performance.xlsx") 

Bd

,Access_no,gender,age,course,DSC3108,DSC3114,MTH3108,SYE3104
0,123,female,21,Computer_Science,89.0,88.0,72,65
1,415,male,22,Computer_Science,91.0,98.0,88,89
2,321,male,21,Data_Science,73.0,70.0,38,41
3,124,female,21,Information_Technology,30.0,40.0,60,31
4,314,female,22,Computer_Science,70.0,75.0,78,60
5,891,male,21,Information_Technology,25.0,70.0,69,19
6,729,female,22,Data_Science,65.0,80.0,38,43
7,892,female,21,Data_Science,90.0,95.0,92,93
8,545,male,22,NaN,54.0,69.0,78,77
9,718,female,21,Information_Technology,NaN,78.0,79,88
10,390,male,22,Computer_Science,45.0,NaN,79,85

In [3]:
##Creating datasets for every 
#Information_Technology datasets
IT=Bd[Bd["course"]=="Information_Technology"]

#Computer_Science  female datasets
CS=Bd[(Bd["course"]=="Computer_Science") & (Bd["gender"]=="female")]

#Data_Science male datasets
DS=Bd[(Bd["course"]=="Information Technology") & (Bd["gender"]=="male")]

In [4]:
##Probability  of a student studying Information Technology
prob_IT=len(IT)/len(Bd)
print(f"The probability of a student studying Information Technology is {prob_IT}")

The probability of a student studying Information Technology is 0.2727272727272727

In [5]:
##Probability of a female student studying Computer Science
prob_CS=len(CS)/len(Bd)
print(f"The probability of a female student studying Computer Science is {prob_CS}")

The probability of a female student studying Computer Science is 0.18181818181818182

In [6]:
##Probability of a male student studying data science
prob_DS=len(DS)/len(Bd)
print(f"The probability of a male student studying Data Science is {prob_DS}")

The probability of a male student studying Data Science is 0.0